body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

select, button {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
}
